@page "/"
@using BlogSite.Models
@using BlogSite.Clients
@inject BlogsClient BlogsClient

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <h1 class="mb-4">Welcome to My Blog</h1>
    @foreach (var blog in blogs)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">@blog.Title</h2>
                <h6 class="card-subtitle mb-2">By @blog.Author</h6>
                <p class="card-text">@blog.Summary</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="@($"blog/{blog.File}")" class="btn btn-primary">Read More</a>
                    <small class="publish-date">@blog.PublishDate.ToShortDateString()</small>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private BlogCard[] blogs = Array.Empty<BlogCard>();

    protected override void OnInitialized()
    {
        blogs = BlogsClient.GetBlogs();
    }
}
